.youtube{
  position: relative;
  padding-bottom: 56.25%;
  /* padding-top: 5%; */
  /* padding-bottom: 70%; */


  /* height: 0; */
  overflow: hidden;
  text-align: center;
}

.youtube iframe{
  position: absolute;
  bottom: 10%;
  width: 70%;
  height: 70%;
  top: 4%;
  /* margin-top: -%; */
  margin-left: -35%;
  /* margin: 0 auto; */

  /* border: none;  */
  max-width: 100%;
}

.buttonStyle{

  text-align: center;
}

.buttonStyle button{
  font-size: 18px;
  color: white;
  background-color: red;
  border: none;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border-radius: 12px;
  transition: .1s;
  cursor: pointer;

}

.buttonStyle button:hover {
  opacity: 0.3;
}

.title{
  text-align: center;
  color: white;
}

@media screen and (max-width:480px) {
 
	/*　この位置に記述する　*/
	.youtube iframe {
    width: 90%;
    height: 90%;
    margin-left: -45%;
	}

  .title{
    font-size: 25px;
  }
 
}
