/* TODO:ちゃんと綺麗にする */
.youtube{
  position: relative;
  padding-bottom: 56.25%;
  /* padding-bottom: 100%; */
  
  /* padding-top: 56.25%;  */
  /* /* padding-bottom: 70%; */

  /* height: 0; */
  overflow: hidden;
  text-align: center;
  z-index: 1; 

}

.youtube iframe{
  position: absolute;
  /* bottom: 10%; */
  width: 80%;
  height: 80%;
  /* top: 4%; */
  margin-top: 0%;
  margin-left: -40%;
  /* margin-bottom: -40%; */

  /* margin: 0 auto; */

  /* border: none;  */
  max-width: 100%;
  z-index: 1; 


}

.buttonStyle{

  margin-top: 1%;
  z-index: 100; 
  text-align: center;

}

.buttonStyle button{
  position: relative;
  font-size: 18px;
  color: white;
  background-color: red;
  border: none;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border-radius: 12px;
  transition: .1s;
  cursor: pointer;
  z-index: 100; 

}

.buttonStyle button:hover {
  opacity: 0.3;
}

.title{
  text-align: center;
  color: white;
}

.inputStyle{
  position: relative;
  margin-top: -10%;
  z-index: 100; 
  text-align: center;
  color: white;
}

.inputStyle input{
  width: 30%;
  font-size: 18px;
}

.share{
  margin-top: 0%;
  position: relative;
  text-align: center;
  color: white;
  z-index: 100; 

}

@media screen and (max-width:480px) {
 
	/*　この位置に記述する　*/
	.youtube iframe {
    width: 100%;
    height: 100%;
    margin-left: -50%;
    margin-top: 0%; 

	}

  .title{
    font-size: 25px;
  }

  .buttonStyle{
    margin-top: 5%;
    
  }
  .inputStyle{
    
    margin-top: 5%;
  }

  .inputStyle input{
    width: 50%;
  }
 
}
